<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="center-align font-escrita grey-text text-lighten-5">Saiba os Custos do seu Churrasco</h2>
      </div>
      <div class="col s12">
        <h4 class="center-align grey-text text-darken-3">Quantas pessoas vão ao churrasco?</h4>
      </div>
      <form>
        <div class="input-field col s4">
          <input id="homens" type="text" [(ngModel)]="homens" name="homens">
          <label for="homens">Nº Homens</label>
        </div>
        <div class="input-field col s4">
          <input id="mulheres" type="text" [(ngModel)]="mulheres" name="mulheres">
          <label for="mulheres">Nº Mulheres</label>
        </div>
        <div class="input-field col s4">
          <input id="criancas" type="text" [(ngModel)]="criancas" name="criancas">
          <label for="criancas">Nº Crianças</label>
        </div>
      </form>
    </div>
  </div>
</div>
<app-resultado [homens]="homens" [mulheres]="mulheres" [criancas]="criancas"></app-resultado>